* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('https://scontent-gru2-2.xx.fbcdn.net/v/t31.18172-8/10708557_1133878729985636_3093768885091276252_o.jpg?stp=dst-jpg_s960x960&_nc_cat=102&ccb=1-7&_nc_sid=25d718&_nc_eui2=AeHSLqbsRzarWKhwb5mSkth8IPlhXqOJPUQg-WFeo4k9RMYrQASQGQTDGdH5ht8jUQg_nDNRTQ2QAudKRkVjwEXP&_nc_ohc=NYKGmO_AxrQQ7kNvgHj_5Gv&_nc_ht=scontent-gru2-2.xx&_nc_gid=A6xhioL5HlSZVTQoKxkECss&oh=00_AYBIImW9uB2CE3MQoMMDA2FfS9GGhtKtEMBOrLOBvcqAQA&oe=673C1C95');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.titulo {
    font-size: 2em;
    color: #1e90ff;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"], input[type="password"] {
    margin: 10px 0;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #1e90ff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #1c86ee;
}

.forgot-password {
    display: block;
    margin-top: 10px;
    color: #007BFF;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
    color: #0056b3;
}
